In [1]:
import pandas as pd

In [46]:
df = pd.read_csv('data\Crypto2018-2023.csv')
df

,Type,Date,Open,High,Low,Close,Adj Close,Volume
0,Ethereum USD,01/01/2018,755.757019,782.530029,742.004028,772.640991,772.640991,2.595760e+09
1,Ethereum USD,01/02/2018,772.346008,914.830017,772.346008,884.443970,884.443970,5.783350e+09
2,Ethereum USD,01/03/2018,886.000000,974.471008,868.450989,962.719971,962.719971,5.093160e+09
3,Ethereum USD,01/04/2018,961.713013,1045.079956,946.085999,980.921997,980.921997,6.502860e+09
4,Ethereum USD,01/05/2018,975.750000,1075.390015,956.325012,997.719971,997.719971,6.683150e+09
...,...,...,...,...,...,...,...,...
16117,GBP/USD,12/26/2022,1.206001,1.209614,1.205400,1.206001,1.206001,0.000000e+00
16118,GBP/USD,12/27/2022,1.208357,1.211226,1.200336,1.208415,1.208415,0.000000e+00
16119,GBP/USD,12/28/2022,1.202776,1.212415,1.200336,1.202733,1.202733,0.000000e+00
16120,GBP/USD,12/29/2022,1.203297,1.207584,1.201548,1.202848,1.202848,0.000000e+00
16121,GBP/USD,12/30/2022,1.205662,1.210683,1.201273,1.205633,1.205633,0.000000e+00

In [42]:
uniqueOptions = df.Type.unique()
uniqueOptions

array(['Ethereum USD', 'TRON USD', 'BNB USD', 'XRP USD', 'Cardano USD',
       'Dogecoin USD', 'Litecoin USD', 'Polkadot USD', 'EUR/USD',
       'GBP/USD'], dtype=object)

In [47]:
grouped = df.groupby(df.Type)
for option in uniqueOptions:
    df1 = grouped.get_group(option)
    df1 = df1.T
    df1 = df1.iloc[1: , :]
    df1.to_csv(f'data\crypto_{option}.csv',index=False)

OSError: Cannot save file into a non-existent directory: 'data\crypto_EUR'

In [44]:
grouped = df.groupby(df.Type)
df1 = grouped.get_group(uniqueOptions[0])
df1 = df1.T
df1

,0,1,2,3,4,5,6,7,8,9,...,1816,1817,1818,1819,1820,1821,1822,1823,1824,1825
Type,Ethereum USD,Ethereum USD,Ethereum USD,Ethereum USD,Ethereum USD,Ethereum USD,Ethereum USD,Ethereum USD,Ethereum USD,Ethereum USD,...,Ethereum USD,Ethereum USD,Ethereum USD,Ethereum USD,Ethereum USD,Ethereum USD,Ethereum USD,Ethereum USD,Ethereum USD,Ethereum USD
Date,01/01/2018,01/02/2018,01/03/2018,01/04/2018,01/05/2018,01/06/2018,01/07/2018,01/08/2018,01/09/2018,01/10/2018,...,12/22/2022,12/23/2022,12/24/2022,12/25/2022,12/26/2022,12/27/2022,12/28/2022,12/29/2022,12/30/2022,12/31/2022
Open,755.757019,772.346008,886.0,961.713013,975.75,995.153992,1043.01001,1158.26001,1146.0,1300.339966,...,1213.672607,1218.079346,1220.11792,1221.171509,1218.920166,1226.987061,1212.736572,1190.010132,1201.56958,1199.360107
High,782.530029,914.830017,974.471008,1045.079956,1075.390015,1060.709961,1153.170044,1266.930054,1320.97998,1417.380005,...,1221.986816,1226.998779,1224.911621,1223.517822,1226.974365,1230.418091,1213.128906,1204.141602,1202.034668,1205.088623
Low,742.004028,772.346008,868.450989,946.085999,956.325012,994.622009,1043.01001,1016.049988,1145.48999,1226.599976,...,1187.127808,1215.994873,1216.338745,1203.719604,1214.335938,1205.89563,1185.702148,1188.360229,1187.462524,1194.203735
Close,772.640991,884.44397,962.719971,980.921997,997.719971,1041.680054,1153.170044,1148.530029,1299.73999,1255.819946,...,1218.182129,1220.159424,1221.14856,1218.962036,1226.974365,1212.791626,1189.986084,1201.595337,1199.232788,1196.77124
Adj Close,772.640991,884.44397,962.719971,980.921997,997.719971,1041.680054,1153.170044,1148.530029,1299.73999,1255.819946,...,1218.182129,1220.159424,1221.14856,1218.962036,1226.974365,1212.791626,1189.986084,1201.595337,1199.232788,1196.77124
Volume,2595760128.0,5783349760.0,5093159936.0,6502859776.0,6683149824.0,4662219776.0,5569880064.0,8450970112.0,7965459968.0,9214950400.0,...,5297471739.0,4835831923.0,2626153345.0,3942720070.0,3282098400.0,4091530737.0,4991669631.0,4132233940.0,4055668253.0,3018513333.0